<h2 class="mb-5 text-center">SalutationForm</h2>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>

  <div class="row pt-1 mb-4">
    <div class="form-group  col-sm-4">
      <select class="custom-select form-select" formControlName="salutation" (change)="changesalutation($event)">
        <option *ngFor="let salutation of salutations">
          {{ salutation }}
        </option>
      </select>
    </div>


    <div class="form-group col-sm-4">
      <input type="text" class="form-control" formControlName="name" placeholder="First Name">
      <div *ngIf="getControl.name.touched && getControl.name.invalid" class="text-danger">
        <div *ngIf="getControl.name.errors.required">Name is required.</div>
        <div *ngIf="getControl.name.errors.minlength">Name with 3 character required.</div>
        <div *ngIf="getControl.name.errors.maxlength">Maximum length  is 15.</div>
      </div>
    </div>


    <div class="form-group col-sm-4">
      <input type="text" class="form-control lastname" formControlName="lastname" placeholder="Last Name">
      <div *ngIf="getControl.lastname.touched && getControl.lastname.invalid" class="text-danger">
        <div *ngIf="getControl.lastname.errors.required">Last Name is required.</div>
        <div *ngIf="getControl.lastname.errors.minlength">Last Name with 3 character required.</div>
      </div>
    </div>
  </div>

  <div class="row form-group pt-1 mb-4">
    <label class="col-sm-6 align-middle control-label mt-auto  mb-auto ">Select Gender: </label>
    <div class="col-sm-6 float-right">
      <select class=" custom-select form-select" formControlName="gender" (change)="changegender($event)">
        <option selected>Select gender</option>
        <option *ngFor="let gender of genders">
          {{gender}}
        </option>
      </select>
    </div>
  </div>
  <div class="row form-group pt-1 mb-4">
    <label class="col-sm-6 align-middle control-label mt-auto  mb-auto ">Select Nominee: </label>
    <div class="col-sm-6 float-right">
      <select class="custom-select  form-select" formControlName="nominee">
        <option selected>Select nominee</option>
        <option *ngFor="let nominee of nominees">
          {{nominee}}
        </option>
      </select>
    </div>
  </div>
  <app-nominee-form (nomineeSubmit)="submitAll($event)" [(nominee)]="userForm.value.nominee">
  </app-nominee-form>

</form>