<form [formGroup]="nomineeForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="separator mt-3 mb-2">Nominee Details</div>

  <div class="row pt-1 mb-4">
    <div class="form-group  col-sm-4">
      <select class="custom-select form-select" formControlName="salutation" (change)="changesalutation($event)">
        <option *ngFor="let salutation of salutations">
          {{salutation }}
        </option>
      </select>
    </div>


    <div class="form-group col-sm-4">
      <input type="text" class="form-control" formControlName="name" placeholder="First Name">
      <div *ngIf="getControl.name.touched && getControl.name.invalid" class="text-danger">
        <div *ngIf="getControl.name.errors.required">Name is required.</div>
      </div>
    </div>


    <div class="form-group col-sm-4">
      <input type="text" class="form-control lastname" formControlName="lastname" placeholder="Last Name">
      <div *ngIf="getControl.lastname.touched && getControl.lastname.invalid" class="text-danger">
        <div *ngIf="getControl.lastname.errors.required">Last Name is required.</div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>Address:</label>
    <input type="text" class="form-control" formControlName="address">
    <div *ngIf="getControl.address.touched && getControl.address.invalid" class="text-danger">
      <div *ngIf="getControl.address.errors.required">Address is required.</div>
    </div>
  </div>


  <div class="form-group">
    <label>City:</label>
    <input type="text" class="form-control" formControlName="city">
    <div *ngIf="getControl.city.touched && getControl.city.invalid" class="text-danger">
      <div *ngIf="getControl.city.errors.required">City is required.</div>
    </div>
  </div>

  <div class="form-group">
    <label>District: </label>
    <select class=" custom-select form-select margin-bottom" formControlName="district"
      (change)="changedistrict($event)">
      <option *ngFor="let district of districts">
        {{district}}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label>Pincode:</label>
    <input type="text" class="form-control" formControlName="pincode">
    <div *ngIf="getControl.pincode.touched && getControl.pincode.invalid" class="text-danger">
      <div *ngIf="getControl.pincode.errors.required">Pincode is required.</div>
    </div>
  </div>
  <div class="separator mt-3 mb-2">Bank Details</div>
  <div class="form-group">
    <label>BankName:</label>
    <input type="text" class="form-control" formControlName="bankname">
    <div *ngIf="getControl.bankname.touched && getControl.bankname.invalid" class="text-danger">
      <div *ngIf="getControl.bankname.errors.required">Bank name is required.</div>
    </div>
  </div>
  <div class="form-group">
    <label>Account Number:</label>
    <input type="text" class="form-control" formControlName="accnumber">
    <div *ngIf="getControl.accnumber.touched && getControl.accnumber.invalid" class="text-danger">
      <div *ngIf="getControl.accnumber.errors.required">Acc. number is required.</div>
    </div>
  </div>
  <div class="form-group">
    <label>IFSC Code:</label>
    <input type="text" class="form-control" formControlName="IFSCcode">
    <div *ngIf="getControl.IFSCcode.touched && getControl.IFSCcode.invalid" class="text-danger">
      <div *ngIf="getControl.IFSCcode.errors.required">IFSC code is required.</div>
    </div>
  </div>
  <button class="btn btn-danger btn-block mt-3" type="submit">Submit</button>
</form>