<h2 class="mb-5 text-center">SalutationForm</h2>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
      
        <div class="form-group column mb-3">
            <select class="custom-select" formControlName="salutation" (change)="changesalutation($event)">
            <option *ngFor="let salutation of salutations">
              {{salutation}}
            </option>
          </select>
        </div>
     
    
      <div class="form-group column mb-5">
        <input type="text" class="form-control" formControlName="name" placeholder="First Name">
        <div *ngIf="getControl.name.touched && getControl.name.invalid" class="text-danger">
          <div *ngIf="getControl.name.errors.required">Name is required.</div>
         </div>
      </div>
    
  
    <div class="form-group column">
      <input type="text" class="form-control lastname" formControlName="lastname" placeholder="Last Name">
      <div *ngIf="getControl.lastname.touched && getControl.lastname.invalid" class="text-danger">
        <div *ngIf="getControl.lastname.errors.required">Last Name is required.</div>
      </div>
    </div>
  

  <div class="form-group">
    <label>Select Gender: </label>
    <select class="custom-select margin-bottom" formControlName="gender" (change)="changegender($event)">
      <option *ngFor="let gender of genders">
        {{gender}}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label>Select Nominee: </label>
    <select class="custom-select margin-bottom" formControlName="nominee" (change)="changenominee($event)">
      <option *ngFor="let nominee of nominees">
        {{nominee}}
      </option>
    </select>
  </div>
  
  
 
  
  <button class="btn btn-danger btn-block mb-3" type="submit">Submit</button>
</form>

  
